<div class="log-container">
  <h2><%= t ".edit" %> <%= resource_name.to_s.humanize %></h2>

  <%= form_for resource, as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put, class: "new-form" } do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: :email %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t ".content1" %><%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i><%= t ".content2" %></i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> <%= t ".characters_minimum" %></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i><%= t ".content3" %></i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit t(".update"), class: "btn-log" %>
    </div>
  <% end %>

  <h3><%= t ".cancel_account" %></h3>

  <p><%= t ".unhappy" %> <%= button_to t(".cancel_account"),
    registration_path(resource_name), data: { confirm: t(".rusure") },
    method: :delete, class: "btn-log" %>

  <%= button_to t(".logout"), destroy_user_session_path, method: :delete,
    class: "btn-log" %>
  </p>
  <div><%= link_to t(".back"), :back %></div>

</div>
