<div class="row">
  <div class="col-md-12">
    <h2 class="title"><%= t ".bill_detail" %></h2>
    <div class="col-md-3">
      <div class="background-fff profile-container bill-detail">
        <div class="title"><%= t ".info_address" %></div>
        <div class="">
          <div class="full-name">
            <%= @bill.full_name %>
          </div>
          <div class="address">
            <%= t "address" %>: <%= @bill.address %>
          </div>
          <div class="phone">
            <%= t "phone" %>: <%= @bill.phone %>
          </div>
          <div class="email">
            <%= t "email" %>:
            <%= link_to @bill.email, admin_user_path(@bill.user) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="background-fff profile-container bill-detail">
        <div class="title"><%= t ".books_ordered" %></div>
        <div>
          <table class="table table-bordered">
            <tr>
              <th><%= t ".book" %></th>
              <th><%= t ".price" %></th>
              <th><%= t ".quantity" %></th>
              <th><%= t "total_price" %></th>
            </tr>
            <%= render partial: "line_item", collection: @line_items %>
          </table>
        </div>
        <div class="text-right">
          <%= t "total_price" %>: <b><%= @bill.total_price %></b>
          <%= Settings.currency.usa %>
        </div>
      </div>
    </div>
  </div>
</div>
