<%= link_to t(".creat-author"), new_admin_author_path %>
<hr>
<div class="row">
  <div class="col-md-12">
    <table id="mytable" class="table table-bordred table-striped">
      <thead>
        <th><%= t "author" %></th>
        <th><%= t ".description" %></th>
        <th><%= t "edit" %></th>
        <th><%= t "delete " %></th>
      </thead>
      <tbody>
        <%= render partial: "author", collection: @authors %>
      </tbody>
    </table>
    <%= will_paginate @authors %>
  </div>
</div>
