<tr>
  <td>
    <img src="<%= line_item.book.image %>"
      width="60px" height="80px" >
    <%= line_item.book.name.truncate(60) %>
  </td>
  <td><%= line_item.book.default_price %> <%= Settings.currency.usa %></td>
  <td><%= line_item.quantity %></td>
  <td>
    <%= line_item.book.default_price * line_item.quantity %>
    <%= Settings.currency.usa %>
  </td>
</tr>
