<div class="row book-detail-container">
  <div class="col-md-8 col-md-offset-2 book-detail">
    <div class="col-md-4">
      <div class="image-first" >
        <img src="<%= @book.images.first.image_path %>">
      </div>
    </div>
    <div class="col-md-8">
      <h1><%= @book.name %></h1>
      <br>
      <p><b><%= t ".category" %>:</b> <%= @book.category.name %> </p>
      <p><b><%= t ".author" %>:</b> <%= @book.author.name %> </p>
      <p><b><%= t ".publish_year" %>:</b> <%= @book.publish_year %> </p>
      <br>
      <p class="book-price">
        <%= t ".price" %>: <%= @book.default_price.to_i %>
          <%= Settings.currency.usa %>
      </p>
      <br>
      <br>
      <button class="btn btn-success btn-block"><%= t ".addcart" %></button>
      <br>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 book-detail">
    <hr>
    <h3><%= t ".description" %></h3>
    <br>
    <p>
      <%= @book.content %>
    </p>
    <hr>
    <h3><%= t ".comments" %>:</h3>
    <%= render partial: "comment", collection: @book.comments %>
    <br>
    <% if user_signed_in? %>
      <h3><%= t ".add-a-new-comment" %>:</h2>
      <%= form_for [@book, @book.comments.build] do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    <% else %>
      <%= link_to t(".login-to-comment"), sign_in_path %>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2 book-detail">
    <hr>
    <h3><%= @book.category.name %> <%= t ".books" %></h3>
    <br>
    <div class="col-md-12" >
      <%= render partial: "book", collection: @relation_books[:category] %>
    </div>
    <div class="col-md-8">
      <%= will_paginate @relation_books[:category],
        param_name: :category_page %>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 book-detail">
    <hr>
    <h3><%= @book.author.name %> <%= t ".books" %></h3>
    <br>
    <div class="col-md-12" >
      <%= render partial: "book", collection: @relation_books[:author] %>
    </div>
    <div class="col-md-8">
      <%= will_paginate @relation_books[:author], param_name: :author_page %>
    </div>
  </div>
</div>
