<div class="row">
  <div class="col-md-12">
    <table id="mytable" class="table table-bordred table-striped">
      <thead>
        <th><%= t "name" %></th>
        <th><%= t "email" %></th>
        <th><%= t "detail" %></th>
      </thead>
      <tbody>
        <%= render partial: "user", collection: @users %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</div>
