<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3><%= t "contact" %></h3>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3><%= t "information" %></h3>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3><%= t "category" %></h3>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3><%= t "profile" %></h3>
      </div>
      <div class="clearfix"></div>  </div>
    </div>
    <div class="footer-copy">
      <div class="container">
        <p><%= t ".design_by" %>
          <%= link_to t(".w3layouts"), "http://w3layouts.com/" %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer-botm">
  <div class="container">
    <div class="w3layouts-foot">
      <ul>
        <li>
          <%= link_to "#", class: "w3_agile_facebook" do %>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "agile_twitter" do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "w3_agile_dribble" do %>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "w3_agile_vimeo" do %>
            <i class="fa fa-vimeo" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="payment-w3ls">
      <%= image_tag "card.png", alt: " ", class: "img-responsive" %>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
