<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
      <p><%= t "welcome" %> <%= link_to t(".shop_now"), root_path %></p>
    </div>
    <div class="agile-login">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to t(".update"), edit_user_registration_path %></li>
          <li><%= link_to t(".logout"), sign_out_path %></li>
          <li><%= link_to t(".order-history"), bills_path %></a></li>
          <% if current_user.admin %>
            <li><%= link_to t(".admin"), admin_path %></a></li>
          <% end %>
        <% else %>
          <li><%= link_to t(".register"), sign_up_path %></li>
          <li><%= link_to t(".login"), sign_in_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="product_list_header">
      <%= form_tag(cart_path, class: "last", method: :get) do %>
        <%= button_tag(type: "submit", class: "w3view-cart") do %>
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>
          <%= t ".order_online" %>
        </li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left">
      <h1><%= link_to t("book_store"), root_path %></h1>
    </div>
    <div class="w3l_search">
      <%= form_tag "#" do %>
        <%= search_field_tag :search, nil, placeholder: t(".search") %>
        <%= button_tag type: "submit", class: "btn btn-default search" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
        <div class="clearfix"></div>
      <% end %>
    </div>
    <div class="clearfix"> </div>
    </div>
  </div>
  <div class="navigation-agileits">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1"
            data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only"><%= t ".toggle_navigation" %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav">
            <li class="active">
              <%= link_to t("home"), root_path, class: "act" %>
            </li>
            <li class="dropdown">
              <%= link_to "/categories", class: "dropdown-toggle", toggle: "dropdown" do %>
                <%= t "category" %>
                <b class="caret"></b>
              <% end %>
            </li>
            <li><%= link_to t("authors"), authors_path %></li>
            <li><%= link_to t("about"), about_path %></li>
            <li><%= link_to t("contact"), contact_path %></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
